#root {
  min-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.App {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.scoreboard {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  background-color: #242424;
}

.card {
  position: relative;
}

.card-image {
  width: 96px;
  height: 96px;
}

.shiny {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -55px;
  left: -55px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (max-width: 500px) {
  .game {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
